.book-reading-v2--rebellion {
  --forest-950: #f2eee6;
  --forest-900: #e4dfd7;
  --forest-800: #c1bbb2;
  --forest-700: #a49f97;
  --forest-600: #88847e;
  --earth-900: #f2eee6;
  --earth-800: #b94637;
  --earth-700: #c55242;
  --amber-500: #b94637;
}

.book-reading-v2--rebellion .book-reading-v2__content > div > section > h2,
.book-reading-v2--rebellion .book-reading-v2__content > div > section article h3 {
  color: #f2eee6 !important;
}

.book-reading-v2--rebellion .book-reading-v2__content > div > section > p:first-child {
  color: #c55242 !important;
}

.book-reading-v2--rebellion .book-reading-v2__content > div > section > p:not(:first-child),
.book-reading-v2--rebellion .book-reading-v2__content > div > section article p {
  color: #c1bbb2 !important;
}

.book-reading-v2--rebellion .book-reading-v2__content > div > section article > div:first-child p {
  color: #88847e !important;
}
